body{
    margin:0;
}
a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}
h1{
    font-size: 45px;
    text-align:center;
    border-bottom: 1px solid gray;
    margin:0;
    padding:20px;
}
#grid{
    display: grid;
    grid-template-columns: 130px 1fr;
}
#grid ol{
    border-right: 1px solid gray;
    width: 80px;
    margin:0;
    padding:20px;
    padding-left: 30px;
}
#article{
    padding-left: 15px;
}
@media(max-width:530px) {
    #grid{
        display: block;
    }
    h1{
        font-size: 35px;
        border-bottom: 2px solid gray;
    }
    #grid ol{
        border-right:none;
    }
}